<ul class="navbar-nav">
  <li class="nav-item dropdown" dropdown>
     <a dropdownToggle class="nav-link  text-white dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Pedro</a>
     <div *dropdownMenu class="dropdown-menu bg-dark" aria-labelledby="navbarDropdownMenuLink">
        <a class="dropdown-item" id="suboption" (click)="routerProfile()">{{screenProfile}}</a>
          <div role="separator" class="divider"></div>
        <a class="dropdown-item" id="suboption" (click)="routerGetOut()">{{screenLogOff}}</a>
     </div>
  </li>
</ul>