<main id="eventsMain">
      <h2>{{eventsTitle}}</h2>
      <hr>
    <div action="" class="form-inline">
        <div class="form-group mb-2">
            <input type="text" class="form-control mr-2" placeholder="Find event" [(ngModel)]="filterList">
            <button type="button" class="btn btn-success" (click)="filterEvents(filterList)">{{searchButton}}</button>
        </div>
    </div>
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th>{{eventsColumnsTable.idEvent}}</th>
                <th><button type="button" class="btn btn-outline-light btn-sm" (click)="showOrHideImagens()">{{showImages ? eventsColumnsTable.hideImage : eventsColumnsTable.viewImage}}</button></th>
                <th>{{eventsColumnsTable.theme}}</th>
                <th>{{eventsColumnsTable.local}}</th>
                <th>{{eventsColumnsTable.dateEvent}}</th>
                <th>{{eventsColumnsTable.numberOfParticipants}}</th>
                <th>{{eventsColumnsTable.batch}}</th>
                <th>{{eventsColumnsTable.options}}</th>
            </tr>
        </thead>
        <tbody *ngIf="events != null">
            <tr *ngFor="let event of events">
                <td>{{event.idEvent}}</td>
                <td><img [collapse]="!showImages" [isAnimated]="true" src={{sourceImages}}{{event.imageUrl}} alt="image-event" id="image-event"></td>
                <td>{{event.theme}}</td>
                <td>{{event.local}}</td>
                <td>{{event.dateEvent}}</td>
                <td>{{event.numberOfParticipants}}</td>
                <td>{{event.options}}</td>
                <td>
                    <button type="button" class="btn btn-primary btn-sm mr-2">{{editButton}}</button>
                    <button type="button" class="btn btn-danger btn-sm">{{deleteButton}}</button>
                </td>
            </tr>
        </tbody>
        <tbody *ngIf="events == null">
            <tr>
               <td colspan="8" class="text-center">
                  <h4>{{NoDataFound}}</h4>
               </td>
            </tr>
        </tbody>
    </table>
</main>