<div class="card rounded shadow-md">
	<form [formGroup]="form">
		<div class="row p-3">
			<div class="col-lg-3 pt-1">
				<div class="card mb-3">
					<div class="card-header"></div>
					<div class="d-flex align-self-center pt-3">
						<a><img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRbezqZpEuwGSvitKy3wrwnth5kysKdRqBW54cAszm_wiutku3R" name="aboutme" width="120" height="120" class="rounded-circle"></a>
					</div>
					<div class="card-body">
						<div class="h4 text-center mb-3">{{porfileFields.UserName}}</div>
						<div class="h7 text-bold pb-1"><b>{{porfileFields.Name}}:</b> Miracles Lee Cross</div>
						<div class="h7">Developer of web applications, JavaScript, PHP, Java, Python, Ruby, Java, Node.js, etc.</div>
					</div>
					<ul class="list-group list-group-flush">
						<li class="list-group-item">
							<div class="row">
							    <div class="col-6 text-center border-right">
							    	<div class="h5">1342</div>
							    	<div class="h6 text-muted">{{porfileFields.DeliveredEvents}}</div>
							    </div>
							    <div class="col-6 text-center">
							    	<div class="h5">1342</div>
							    	<div class="h6 text-muted">{{porfileFields.ParticipatedEvents}}</div>
							    </div>
							</div>
						</li>
					</ul>
					<div class="card-footer"></div>
				</div>
			</div>
			<div class="col-lg-9">
				<div class="form-row">
					<div class="form-group col-12">
						<h3 class="border-bottom">{{porfileFields.ProfileDetail}}</h3>
					</div>
					<div class="form-group col" [formGroup]="form">
						<label>{{porfileFields.Title}}</label>
						<select class="form-control is-invalid" formControlName="title" [ngClass]="{'is-invalid' : form.get('title')?.errors && form.get('title')?.touched}">
							<option selected hidden>{{porfileFields.InstructionLevel}}</option>
							<option value="Technologist">{{porfileFields.Technologist}}</option>
							<option value="Bachelor">{{porfileFields.Bachelor}}</option>
							<option value="Specialist">{{porfileFields.Specialist}}</option>
							<option value="Postgraduate">{{porfileFields.Postgraduate}}</option>
							<option value="Teacher">{{porfileFields.Teacher}}</option>
							<option value="Doctor">{{porfileFields.Doctor}}</option>
							<option value="PostDoctorate">{{porfileFields.PostDoctorate}}</option>
						</select>
						<div *ngIf="form.get('title')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
					</div>
					<div class="form-group col-sm-5" [formGroup]="form">
						<label>{{porfileFields.FristName}}</label>
						<input type="text" class="form-control is-invalid" formControlName="fristName" [ngClass]="{'is-invalid' : form.get('fristName')?.errors && form.get('fristName')?.touched}"/>
						<div *ngIf="form.get('fristName')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
						<div *ngIf="form.get('fristName')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>						
					</div>
					<div class="form-group col-sm-5" [formGroup]="form">
						<label>{{porfileFields.LastName}}</label>
						<input type="text" class="form-control is-invalid" formControlName="lastName" [ngClass]="{'is-invalid' : form.get('lastName')?.errors && form.get('lastName')?.touched}"/>
						<div *ngIf="form.get('lastName')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
						<div *ngIf="form.get('lastName')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>							
					</div>
				</div>
				<div class="form-row">
					<div class="form-group col-sm-5" [formGroup]="form">
						<label>{{porfileFields.Email}}</label>
						<input type="text" class="form-control is-invalid" formControlName="email" [ngClass]="{'is-invalid' : form.get('email')?.errors && form.get('email')?.touched}"/>
						<div *ngIf="form.get('email')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
					</div>
					<div class="form-group col-sm-4" [formGroup]="form">
						<label>{{porfileFields.Telephone}}</label>
						<input type="text" class="form-control is-invalid" formControlName="telephone" [ngClass]="{'is-invalid' : form.get('telephone')?.errors && form.get('telephone')?.touched}"/>
						<div *ngIf="form.get('telephone')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
						<div *ngIf="form.get('telephone')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>
					</div>
					<div class="form-group col-sm" [formGroup]="form">
						<label>{{porfileFields.Function}}</label>
						<select class="form-control is-invalid" formControlName="function" [ngClass]="{'is-invalid' : form.get('function')?.errors && form.get('function')?.touched}">
							<option selected hidden>{{porfileFields.ChooseYourRole}}</option>
							<option value="Participante">{{porfileFields.DeliveredEvents}}</option>
							<option value="Palestrante">{{porfileFields.ParticipatedEvents}}</option>
						</select>
						<div *ngIf="form.get('function')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
					</div>
					<form class="col-12" [formGroup]="form">
						<label>{{porfileFields.Description}}</label>
						<input type="text" class="form-control is-invalid" formControlName="description" [ngClass]="{'is-invalid' : form.get('description')?.errors && form.get('description')?.touched}"/>
						<div *ngIf="form.get('description')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
						<div *ngIf="form.get('description')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>	
					</form>
				</div>
				<div>
					<h3 class="pt-3 border-bottom">{{porfileFields.ChangePassword}}</h3>
					<p>{{porfileFields.YouWantToChange}}</p>
				</div>
				<div class="form-row">
					<div class="form-group col-sm" [formGroup]="form">
						<label>{{porfileFields.Password}}</label>
						<input type="password" class="form-control" formControlName="password" [ngClass]="{'is-invalid' : form.get('password')?.errors && form.get('password')?.touched}"/>
						<div *ngIf="form.get('password')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
						<div *ngIf="form.get('password')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>	
					</div>
					<div class="form-group col-sm" [formGroup]="form">
						<label>{{porfileFields.ConfirmPassword}}</label>
						<input type="password" class="form-control is-invalid" formControlName="confirmPassword" [ngClass]="{'is-invalid' : form.get('confirmPassword')?.errors && form.get('confirmPassword')?.touched}"/>
						<div *ngIf="form.get('confirmPassword')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
						<div *ngIf="form.get('confirmPassword')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<div class="d-flex">
				<button class="btn btn-outline-secondary mr-auto border" (click)="cancelFrom()">{{cancelButton}}</button>
				<button class="btn btn-success" [disabled]="!form.valid"><span class="spinner-border spinner-border-sm mr-1"></span>{{doneButton}}</button>
			</div>
		</div>
	</form>
</div>