<div class="card rounded shadow-md">
  <form [formGroup]="form" >
    <div class="p-3">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label>{{eventTableFields.theme}}</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid' : form.get('theme')?.errors && form.get('theme')?.touched}" formControlName="theme" placeholder="Inform the theme"> 
          <div *ngIf="form.get('theme')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
          <div *ngIf="form.get('theme')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8">
          <label>{{eventTableFields.local}}</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid' : form.get('local')?.errors && form.get('local')?.touched}" formControlName="local" placeholder="Inform the local of event">
          <div *ngIf="form.get('local')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
          <div *ngIf="form.get('local')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>
        </div>
        <div class="form-group col-md-4">
          <label>{{eventTableFields.dateEvent}}</label>
          <input type="date" class="form-control is-invalid" [ngClass]="{'is-invalid' : form.get('dateEvent')?.errors && form.get('dateEvent')?.touched}" formControlName="dateEvent" placeholder="Inform the date of event">
          <div *ngIf="form.get('dateEvent')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
          <div *ngIf="form.get('dateEvent')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-2">
          <label>{{eventTableFields.numberOfParticipants}}</label>
          <input type="number" min="0" step="1" class="form-control is-invalid" formControlName="numberOfParticipants" [ngClass]="{'is-invalid' : form.get('numberOfParticipants')?.errors && form.get('numberOfParticipants')?.touched}" placeholder="Number of Participants">
          <div *ngIf="form.get('numberOfParticipants')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
          <div *ngIf="form.get('numberOfParticipants')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div>                    
        </div>
        <div class="form-group col-md-4">
          <label>Telephone</label>
          <input type="number" min="0" step="1" class="form-control is-invalid" [ngClass]="{'is-invalid' : form.get('telephone')?.errors && form.get('telephone')?.touched}" formControlName="telephone" placeholder="(11) 99999-9999">
          <div *ngIf="form.get('telephone')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
          <div *ngIf="form.get('telephone')?.hasError('maxlength')" class="invalid-feedback">{{exceededNumberOfCharacters}}</div> 
        </div>
        <div class="form-group col-md-6">
          <label>Email</label>
          <input type="email" class="form-control is-invalid" [ngClass]="{'is-invalid' : form.get('email')?.errors && form.get('email')?.touched}" formControlName="email" placeholder="Inform the e-mail">
          <div *ngIf="form.get('email')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
          <div *ngIf="form.get('email')?.hasError('email')" class="invalid-feedback">{{emailNotValidated}}</div> 
        </div>
        <div class="form-group col-md-12">
          <label>Image</label>
          <input type="text" class="form-control is-invalid" [ngClass]="{'is-invalid' : form.get('imageUrl')?.errors && form.get('imageUrl')?.touched}" formControlName="imageUrl" placeholder="Inform the image Url">
          <div *ngIf="form.get('imageUrl')?.hasError('required')" class="invalid-feedback">{{fieldIsRequired}}</div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <div class="d-flex">
        <button class="btn btn-outline-secondary mr-auto border" (click)="cancelFrom()">{{cancelButton}}</button>
        <button class="btn btn-success" [disabled]="!form.valid"><span class="spinner-border spinner-border-sm mr-1"></span>{{doneButton}}</button>
      </div>
    </div>
  </form>
</div>