<div class="card rounded shadow-md p-4">
  <app-events-form></app-events-form>
  <table class="table table-hover">
    <thead class="thead-dark">
        <tr>
          <th>{{eventTableFields.idEvent}}</th>
          <th class="d-none d-md-table-cell"><app-button-show-or-hide-image></app-button-show-or-hide-image></th>
          <th>{{eventTableFields.theme}}</th>
          <th class="d-none d-md-table-cell">{{eventTableFields.local}}</th>
          <th>{{eventTableFields.dateEvent}}</th>
          <th class="d-none d-md-table-cell">{{eventTableFields.numberOfParticipants}}</th>
          <th class="d-none d-md-table-cell">{{eventTableFields.batch}}</th>
          <th>{{eventTableFields.options}}</th>
        </tr>
    </thead>
    <tbody *ngIf="events != null">
        <tr *ngFor="let event of events">
           <td>{{event.idEvent}}</td>
           <td class="d-none d-md-table-cell"><img [collapse]="!showImages" [isAnimated]="true" src={{sourceImages}}{{event.imageUrl}} alt="image-event" id="image-event"></td>
           <td>{{event.theme}}</td>
           <td class="d-none d-md-table-cell">{{event.local}}</td>
           <td>{{event.eventDate | dateFormat}}</td>
           <td class="d-none d-md-table-cell">{{event.numberOfParticipants}}</td>
           <td class="d-none d-md-table-cell">{{event.batch}}</td>
           <td>
              <app-button-edit (click)="eventDetail(event.idEvent)"></app-button-edit>
              <app-button-delete></app-button-delete>
           </td>
        </tr>
    </tbody>
    <tbody *ngIf="events == null">
        <tr>
          <td colspan="8" class="text-center">
             <h4>{{noDataFound}}</h4>
          </td>
        </tr>
    </tbody>
  </table>
</div>